<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST">
     <p>Team Name:<input type="text" name="name"></p>
     <p>Coach:<input type="text" name="coach" placeholder="Coach"></p>
     <p>Point Guard:<input type="text" name ="pg" placeholder="Point Guard"></p>
     <p>Shooting Guard:<input type="text" name="sg" placeholder="Shooting Guard"></p>
     <p>Small Forward:<input type="text" name="pf" placeholder="Power Forward"></p>
     <p>Power Forward:<input type="text" name"sf" placeholder="Small Forward"></p>
     <p>Center:<input type="text" name="c"  placeholder="Center"></p>
     <input type="submit">
   </form>
 </body>
</html>
